{% extends "base.html" %}
{% block content %}
<h1>What We Do</h1>
<ul>
    <li>Collection management (buying & selling)</li>
    <li>Current market trends and insight</li>
    <li>Valuation (sale, insurance, tax)</li>
    <li>Inventory management (physical tracking)</li>
    <li>Condition reporting</li>
    <li>Restoration and conservation</li>
    <li>Fine art insurance and shipping</li>
    <li>Collection security and lighting</li>
    <li>Fine art storage and installation</li>
</ul>

<h2>Benefits to Clients</h2>
<ul>
    <li>Advanced collection development</li>
    <li>Asset-backed lending</li>
    <li>Succession planning</li>
    <li>Independent professional advice</li>
</ul>
{% endblock %}
